@import '../../styles/constants.scss';

.main-page {
  display: flex;
  align-items: center;
  height: 100vh;

  @media (max-width: $breakpoint-xs-min) {
    position: relative;
    z-index: 2;
    flex-direction: column;
    row-gap: $base * 2;
    padding: $base 0;
  }
}

.main-page__info {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: $base * 3;
  flex-basis: 55%;

  @media (max-width: $breakpoint-md-min) {
    flex-basis: 65%;
  }

  @media (max-width: $breakpoint-xs-min) {
    align-items: flex-start;
    text-align: start;
  }

  .h1,
  .h2 {
    text-align: end;

    @media (max-width: $breakpoint-xs-min) {
      text-align: start;
    }
  }
}

.main-page__about {
  width: 90%;
  margin-top: $base * 5;
  font-size: calc(0.1em + 1.5vw);
  font-weight: $fw-semi-bold;
  letter-spacing: 0.125rem;
  line-height: $base * 5;
  @include disableSelection;

  @media (max-width: $breakpoint-sm-min) {
    font-size: calc(0.5em + 1.5vw);
  }
}

.avatar {
  @include disableSelection;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 40%;
  border-radius: $base * 4;
}

.avatar__img {
  width: 100%;
  height: auto;
  border-radius: $base * 4;
  pointer-events: none;
  transition: all $transition-01;
}

.bg-block {
  position: fixed;
  top: -50%;
  left: -83%;
  z-index: 1;
  width: 100%;
  height: 200%;
  transform: rotate(-15deg);
  background: linear-gradient(165deg, $color-white 0%, $color-green 80%);
}
