@import '../../styles/constants.scss';

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $base * 4;

  @media (max-width: $breakpoint-md-min) {
    grid-template-columns: 1fr 1fr;
    gap: $base * 3;
  }

  @media (max-width: $breakpoint-sm-min) {
    gap: $base * 2;
  }

  @media (max-width: $breakpoint-xs-min) {
    grid-template-columns: 1fr;
  }
}
