@import '../../../sass/Constants.scss';

.list-item__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $base;
  width: 31%;

  @media (max-width: $breakpoint-sm-min) {
    width: 47%;
  }
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border-radius: $base * 4;
  border: $base solid $color-orange;
  overflow: hidden;

  &:hover,
  &:active,
  &:focus {
    .list-item-hover {
      top: 0;
      transition: $transition-02;
    }
  }
}

.list-item-hover {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $base;
  width: 100%;
  height: 100%;
  font-size: $fs-xl;
  font-weight: $fw-semi-bold;
  text-transform: uppercase;
  background-color: $color-white-06;
  transition: $transition-02;
}

.list-item-link {
  display: block;
  color: $color-dark;
  transition: $transition-01;

  &:hover {
    color: $color-orange;
    transition: $transition-01;
  }
}

.social-item__wrapper {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    .social-item {
      background-color: $color-white-08;
      transition: $transition-01;
    }

    .h3 {
      color: $color-orange;
      transition: $transition-01;
    }
  }
}

.social-item {
  border-radius: 50%;
  transition: $transition-01;
}
