@import '../../styles/constants.scss';

.list__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: $base * 2;
  cursor: pointer;
  transition: all $transition-01;

  &:hover,
  &:focus,
  &:active {
    .h3 {
      color: $color-orange;
    }
  }
}

.list__img {
  width: 100%;
  height: auto;
}

.list__img-wrapper {
  display: flex;
  aspect-ratio: 1.4/1;
  border-radius: $base;
  overflow: hidden;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1/1;
}
