@import '../../sass/Constants.scss';

.modal {
  display: none;
  position: fixed;
  top: -$base * 2;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: $base * 180;
  height: $base * 100;
  margin: auto;
  background-color: $color-white;
  border-radius: $base * 2;

  @media (max-width: $breakpoint-lg-max) {
    top: $base * 6;
    width: $base * 126;
    height: $base * 70;
  }

  @media (max-width: $breakpoint-sm-max) {
    top: -$base * 2;
    width: $base * 48;
    height: 44%;
  }
}

.modal__active {
  display: block;
}

.modal__container {
  display: flex;
  align-items: flex-start;
  color: $color-dark-08;
}

.modal__img {
  display: block;
  width: $base * 100;
  height: $base * 100;
  border-radius: $base * 2;

  @media (max-width: $breakpoint-lg-max) {
    width: $base * 70;
    height: $base * 70;
  }

  @media (max-width: $breakpoint-sm-max) {
    display: none;
  }
}

.modal__container__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: $base * 11;
  padding-left: $base * 6;
  padding-right: $base * 4;

  @media (max-width: $breakpoint-lg-max) {
    margin-top: $base * 2;
    padding-left: $base * 2;
    padding-right: $base;
  }
}

.modal__name {
  @include poppins;
  margin: 0;
  font-size: $base * 7;
  font-weight: $fw-regular;
  line-height: 2.844rem;
  letter-spacing: 0.06em;

  @media (max-width: $breakpoint-sm-max) {
    width: 100%;
    text-align: center;
  }
}

.modal__type__breed {
  @include poppins;
  margin-top: $base;
  font-size: $base * 4;
  font-weight: $fw-regular;
  line-height: 1.438rem;
  letter-spacing: 0.06em;

  @media (max-width: $breakpoint-lg-max) {
    margin-top: $base * 2;
  }

  @media (max-width: $breakpoint-sm-max) {
    width: 100%;
    text-align: center;
  }
}

.modal__description {
  @include poppins;
  margin-top: $base * 9;
  font-size: $base * 3;
  font-weight: $fw-regular;
  line-height: 1.031rem;
  letter-spacing: 0.06em;

  @media (max-width: $breakpoint-lg-max) {
    margin-top: $base * 4;
    font-size: 0.813rem;
    line-height: 0.894rem;
    text-align: justify;
  }
}

.modal__list {
  margin-top: $base * 7;
  padding: 0;

  @media (max-width: $breakpoint-lg-max) {
    margin-top: $base * 3;
  }
}

.modal__list__item {
  @include poppins;
  margin-top: $base * 2;
  font-size: $base * 3;
  font-weight: $fw-bold;
  line-height: 1.031rem;
  letter-spacing: 0.06em;
  list-style-type: none;

  &::before {
    content: '\2022';
    color: $color-orange;
  }

  @media (max-width: $breakpoint-lg-max) {
    margin-top: 0.375rem;
  }
}

.modal__list__item__span {
  @include poppins;
  font-size: $base * 3;
  font-weight: $fw-regular;
  line-height: 1.031rem;
  letter-spacing: 0.06em;
}

.modal__shadow {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 2;
}

.modal__shadow__active {
  display: block;
}

.button__pagination {
  display: block;
  @include poppins;
  width: $base * 10;
  height: $base * 10;
  font-size: $fs-m;
  letter-spacing: 0.06em;
  line-height: $base * 5;
  color: $color-dark;
  text-align: center;
  border-radius: 50%;
  border: 0.125rem solid $color-orange;
  background-color: $color-white;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;
  transition: $transition;

  &:hover {
    background-color: $color-orange;
    transition: $transition;
  }
}

.close {
  position: absolute;
  top: -$base * 10;
  left: 99%;
  background-color: $color-white;
  background-image: url('../../images/modal/close.svg');

  @media (max-width: $breakpoint-sm-max) {
    left: 92%;
  }
}
