@import '../../styles/constants.scss';

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  max-width: $base * 256;
  margin: auto;
  padding: $base * 2;
  background-color: $color-white;
  border-radius: $base;
  visibility: hidden;
  opacity: 0;
  transition: all $transition;

  @media (max-width: $breakpoint-lg-min) {
    width: calc(100vw - ($base * 25));
  }

  @media (max-width: $breakpoint-md-min) {
    width: calc(100vw - ($base * 12));
  }

  @media (max-width: $breakpoint-xs-min) {
    width: calc(100vw - ($base));
  }
}

.modal_active {
  visibility: visible;
  opacity: 1;
}

.modal__wrapper {
  color: $color-dark-08;
}

.modal__img {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: $base;
}

.modal__info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: $base * 3;
  padding-left: $base * 3;
  padding-bottom: $base * 3;

  .h3 {
    color: $color-dark;
  }
}

.modal-list__item {
  margin-top: $base * 2;
  font-size: $base * 3;
  font-weight: $fw-bold;
  line-height: 1.031rem;
  letter-spacing: 0.06em;
  list-style-type: none;

  &::before {
    content: '\2022';
    margin-right: $base;
    color: $color-orange;
  }
}

.modal-list__link {
  position: relative;
  margin-left: $base;
  font-size: $base * 3;
  font-weight: $fw-semi-bold;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $color-orange;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 0.125rem;
    background-color: $color-dark;
    opacity: 0;
    transition: all $transition-01;
  }

  &:hover {
    &::after {
      left: 0;
      opacity: 1;
    }
  }
}

.stack {
  color: $color-dark;
}

.modal__shadow {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: $color-dark-06;
}

.modal__shadow_active {
  display: block;
}
