@import '../../../styles/constants.scss';

.button-primary {
  position: absolute;
  top: -$base * 5;
  left: calc(100% - ($base * 5));
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $base * 10;
  height: $base * 10;
  border-radius: 50%;
  border: 0.063rem solid $color-orange;
  background-color: $color-white;
  cursor: pointer;
  transition: all $transition-01;

  &:hover {
    background-color: $color-orange;
  }
}

.button-primary__img {
  width: $base * 7;
  height: $base * 7;

  @media (max-width: $breakpoint-xs-min) {
    width: $base * 5;
    height: $base * 5;
  }

  @media (max-width: $breakpoint-xxs-min) {
    width: $base * 4;
    height: $base * 4;
  }
}

.button-primary__close {
  position: absolute;
  top: -$base * 5;
  left: calc(100% - ($base * 5));
  z-index: 2;
}
