@import './styles/constants.scss';
@import './styles/normalize.scss';
@import './styles/reset.scss';
@import './styles/indents.scss';
@import './styles/headers.scss';
@import './styles/flex.scss';

// === FONTS ===

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('./assets/fonts/#{$file_name}.woff') format('woff'),
      url('./assets/fonts/#{$file_name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import './styles/fonts.scss';

// === / FONTS ===

.body {
  @include poppins;
  @include scroll;
  position: relative;
  width: 100%;
  background-color: $color-dark;
  color: $color-white;
  scroll-behavior: smooth;
  transition: $transition-01;
}

.body_light {
  background-color: $color-white;
  color: $color-dark;
  transition: $transition-01;
}

.body_overflow {
  overflow-y: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;

  @media (max-width: $breakpoint-md-min) {
    padding-bottom: $base * 12;
  }
}

.wrapper {
  max-width: $base * 256;
  width: calc(100vw - ($base * 4));
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $breakpoint-lg-min) {
    width: calc(100vw - ($base));
  }
}

.active {
  background-color: $color-orange;
  transition: $transition-01;
}

.color-orange {
  color: $color-orange;
}

.box-shadow {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
