@import '../../styles/constants.scss';

.image {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  @include disableSelection;
}

.image_loading {
  filter: blur(0.156rem);
}

.image_onload {
  filter: blur(0);
  transition: filter $transition-01 linear;
}
