@import '../../styles/constants.scss';

.list__img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  @include disableSelection;
}

.list__img_loading {
  filter: blur(0.156rem);
}

.list__img_onload {
  filter: blur(0);
  transition: filter $transition-01 linear;
}

.social-item__img {
  padding: $base * 7;

  @media (max-width: $breakpoint-xs-min) {
    padding: $base * 5;
  }

  @media (max-width: $breakpoint-xxs-min) {
    padding: $base * 4;
  }
}
